<!DOCTYPE html>
<html>
    <head>
        <link rel="Stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}} 
        <img class='nodeImg' src="/img/node.png">
        <h2>{{name}}</h2>
        </div>
        {{>footer}}
    </body>
</html> 